

.footer{
  background-color: var(--blue-color);
  color: var(--white-color);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

@media(max-width:600px){
  .footer{
    font-size: 15px;
    padding: 10px 0;
  }
}